In [1]:
type(True)

bool

In [2]:
type(1)

int

In [3]:
type('$')

str

In [4]:
type(2.7)

float

In [8]:
# hello world

In [5]:
i = 50
if i < 10:
    print(i,'is less than 10')
    print('run this also')
else:
     print(i,'is greater than or equal to 10')

50 is greater than or equal to 10

In [25]:
i = 8
if i > 10:
    print(i, 'is greater than 10')
elif i < 3:
     print(i, 'is less than 3')
else:
     print(i, 'is between 8 and 10')

8 is between 8 and 10

In [3]:
counter = 0
simple list = [0,1,4,78,90,345,890,955,1111,5593]
for i in the simple list:
    # the only lines that get executed in this loop are tabbed correctly
    print(i)
    counter = counter + 1

SyntaxError: invalid syntax (<ipython-input-3-f595407e0355>, line 2)

List: A collection of items of any data type. Example: X=[‘a’,2,True,’b’] 
1. Mutable (can be edited)
2. Supports Indexing 
3. Function: list()

In [18]:
simple_list = ['Dan',2,3,4,5,6,7,'python',2.71]
print(simple_list)
print(simple_list[0])
print(simple_list[3])
print(simple_list[-3])
print(simple_list[-2])
print(simple_list[4])
print(simple_list[5])
print(simple_list[6])
print(simple_list[7])
print(simple_list[-1])
print((len(simple_list)))
print(simple_list[1:-5])

['Dan', 2, 3, 4, 5, 6, 7, 'python', 2.71]
Dan
4
7
python
5
6
7
python
2.71
9
[2, 3, 4]

Tuple: A collection of items of any data type 
Example: X=(‘a’,2,True,’b’) 
1. Immutable (Cannot be edited) 
2. Supports Indexing 
3. Function: tuple()

# simple_tuple = (8,6,3.6,90,45,98)
simple_tuple
print((len(simple_tuple)))

Set: A set-in python is like a mathematical set. It does not hold duplicate values and arranges in ascending order.
Example: X={1,2,3,4} 
1. Mutable (can be edited) 
2. Does not Supports Indexing in python 
3. Function: set()

In [34]:
simple_set = {1,'python',2.7,2,29,9029,1}
print(simple_set)
print('python' in simple_set)
simple_set.remove('python')
print(simple_set)
simple_set.add('python')
print(simple_set)
print((len(simple_set)))

{1, 2.7, 2, 9029, 'python', 29}
True
{1, 2.7, 2, 9029, 29}
{1, 2.7, 2, 9029, 'python', 29}
6

A Python dictionary contains key-value pairs just like a real-world dictionary has word and its meaning pair.
Example: X= {1:’Jan’, 2:’Feb’, 3:’Mar’} 
1. Mutable (can be edited) 
2. Supports Indexing using keys 
3. Function: dict()

In [10]:
simple_dict = {
    "brand" : "Apple",
    "product" : "iPhone",
    "model" : "X"
}
print(simple_dict)
print('I bought an', simple_dict['product'],"model",simple_dict['model'],'from',simple_dict['brand'] )

{'brand': 'Apple', 'product': 'iPhone', 'model': 'X'}
I bought an iPhone model X from Apple

In [32]:
x="This is our first session"
x.split()
x.upper()
x.islower
len(x)

25

In [7]:
Arr=np.array([1,2,3])
Arr

array([1, 2, 3])

In [5]:
array =[10,12,14,16,18]

In [6]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'col1': ['A', 'A' ,'B', 'c','E'], 'col2' : ['A','np.NaN','9','p', 'o'],})
df

  col1    col2
0    A       A
1    A  np.NaN
2    B       9
3    c       p
4    E       o

The function sort values returns a data frame that is sorted on the bases of the values of the column passed in the above code in default Ascending order. DataFrame.sort_values("column")

In [3]:
df.sort_values(by=['col1'])

  col1    col2
0    A       A
1    A  np.NaN
2    B       9
4    E       o
3    c       p

DataFrame.groupby("column")-It is used to split the data into groups based on the values of the column given in the above code

In [9]:
df.groupby("col1")

In the above data frame, it will split the data frame with respect to values in col1 -like all A's will be together. now we can apply aggregate functions here -if I want to see the sum of col2 values with respect to every group of col1

In [10]:
df.groupby("col1")["col2"]

In [12]:
df.groupby("col1")["col2"].sum()

col1
A    Anp.NaN
B          9
E          o
c          p
Name: col2, dtype: object

In [2]:
simple_dict = {
    "brand": "Apple",
    "product": "iPhone",
    "model": "X"
}
print(simple_dict)
print('I bought an',simple_dict['product'],"model",simple_dict['model'],'from',simple_dict['brand'])

{'brand': 'Apple', 'product': 'iPhone', 'model': 'X'}
I bought an iPhone model X from Apple

In [5]:
X= [10,"Range", "DSBA", -54, 11, 12]
print(X[2:4])

['DSBA', -54]

In [6]:
X= [10,"Range", "DSBA", -54, 11, 12]

print(len(X[2:4]))

2

Flow control
1. loops
2. conditionals

Loops:
A loop is an efficient way to tell the computer to perform a command multiple times

Each iteration of the loop can use new data to perform the command or depend on the previous loop
There are 2 main types of loops: for, while

Conditionals 

There are 3 types of conditionals
1. if statement
2. else statement 
3. elif statement

In [7]:
i = 30
if i<10:
    print(i,'is less than 10')
    print('run this also')
else:
    print(i,'is greater than or equal to 10')

30 is greater than or equal to 10

In [7]:
i = 3
if i > 10:
 print(i, 'is equal than 10')
elif i<3:
 print(i, 'is less than 3')
elif i<4:
 print(i)
else:
 print(i, 'is between 3 and 10')

3

In [28]:
counter = 0
simple_list = [0,1,2,3,4,5,6,6,9993,3,3,4000]
for i in simple_list:
    # the only lines that get executed in this loop are tabbed correctly!!!
    
  print(i)
  counter = counter + 1
print('this line is not inside the loop')
print('the loop cycled', counter, 'times')

0
1
2
3
4
5
6
6
9993
3
3
4000
this line is not inside the loop
the loop cycled 12 times

In [30]:
for i in simple_list[1:4]:
    for j in simple_list[4:7]:
        print(i*j)

4
5
6
8
10
12
12
15
18

In [1]:
x=-1
while x>=0:
    print('Hello wordfg')
else: 
    print('Hi wordl')
    print('ags')

Hi wordl
ags